@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

$backgroundColor: #f6f8f7;
$textColor: #26274c;

body {
    background-color: $backgroundColor !important;
    color: $textColor;
}
.AppMain {
    @include u1.block_display();

    .BskHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 1%;

        .BskLogo {
            font-size: u1.rem(25);
            font-weight: 700;
        }

        .BskLinks {
            display: flex;
            font-size: u1.rem(16);
            font-weight: 600;
            letter-spacing: 1px;

            > div {
                margin-inline: 0 30px;
            }
        }
    }

    .BskDownCvr {
        width: 90%;
        margin: 23vh auto 0;

        .BskDown1 {
            font-weight: 700;
            font-size: u1.rem(17);
        }
        .BskDown2 {
            display: flex;
            margin: 0;
            font-size: u1.rem(110);
            font-weight: 700;

            .Bsk-Ech {
                margin: -15px u1.rem(60) 0 0;
                color: $backgroundColor;
                text-shadow: 1px 1px 0 $textColor, -1px -1px 0 $textColor;
                transition: all .4s ease-in-out;
                cursor: default;

                &:hover {
                    color: $textColor;
                    text-shadow: none;
                    scale: 1.1
                }
            }
        }
    }
}


// styling the cursor elements
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    // contain: layout style size;
    pointer-events: none;
    transition: transform .1s linear;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -24px;
        left: -24px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transform: scale(0.2);
        background-color: $textColor;
    }

    .cursor-media {
        display: block;
        position: relative;
        overflow: hidden;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        // transform: scale(1);
        transform: scale(0);
        margin: -175px 0 0 -175px; // that is the height divided by 2

        video {
            position: absolute;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}